*.code-workspace
.DS_Store
*.paw
coverage.txt
*.log
node_modules
.idea
.terraform
*.swp
.env.local
packages/**/vendor
*.tmp
.eslintcache
.terraform
*.lock.hcl
terraform.tfstate
terraform.tfstate.backup
scratch/
*.exe
cypress/videos/
cypress/screenshots/
*.mp4
